@import './components/classSelection';
@import './components/sidebar';
@import './components/iframes';
@import './components/grid';


  body:not(.ready) {
    overflow: scroll;
  }
  
  
  #main>h1:nth-child(1) {
    display: none;
  }
  
  #main>h1:nth-child(1)[id] {
    display: block;
  }