.class-selection-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.class-selection-wrapper a img {
  width: 350px;
  border-radius: 1em;
  border: solid 1px #e5e5e5;
}

.class-selection-wrapper a img:hover {
  border: solid orange 3px;
}

.sidebar-nav hr {
  background-color: orange;
}

iframe {
  width: 100% !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first] 50% [line2] 50%;
      grid-template-columns: [first] 50% [line2] 50%;
  -ms-grid-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
      grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid .grid-item {
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

#previousWeeks details summary {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #f57b09;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#previousWeeks .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#previousWeeks .grid .grid-item {
  margin: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-height: 500px;
}

#previousWeeks .grid .grid-item .item-header {
  color: #2d2d2d;
}

#previousWeeks .grid .grid-item .item-text {
  overflow-y: auto;
  max-height: 150px;
}

#previousWeeks .grid .grid-item .item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#previousWeeks .grid .grid-item .item-links .btn {
  background-color: #f57b09;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 10px 6px 5px;
  height: var(--sidebar-toggle-height);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#previousWeeks .grid .grid-item .item-links .btn:hover {
  background-color: white;
  color: #f57b09;
  border: solid black 1px;
}

.full-width {
  width: 100%;
}

:root {
  --base-font-weight: 400;
  --base-color: white;
  --base-font-size: 14px;
  --sidebar-width: 22rem;
  --sidebar-nav-link-before-content: "";
  --sidebar-nav-link-before-content-l3: "";
  --sidebar-name-font-weight: 500;
  --search-result-heading-font-size: 1em;
  --search-result-item-font-size: 0.9em;
  --search-result-heading-font-weight: 400;
  --search-result-heading-margin: 0 0 0.1em;
  --heading-font-weight: 500;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 2.5em;
  --notice-font-style: italic;
  --notice-font-weight: 500;
  --blockquote-em-font-style: normal;
  --blockquote-em-font-weight: 700;
  --blockquote-font-style: italic;
  --blockquote-font-weight: 500;
  --code-font-size: 1em;
  --code-font-weight: 500;
  --code-tab-size: 2;
  --docsifytabs-border-color: #ededed;
  --docsifytabs-tab-highlight-color: orange;
}

.app-name-link img {
  width: auto !important;
}

body:not(.ready) {
  overflow: scroll;
}

.sidebar > h1 {
  background-color: white;
  margin: 0px 10px 10px 0px;
}

.sidebar > h1 > a > img {
  height: 100px;
}

.sidebar > h1 > a > img {
  width: 300px;
}

.sidebar > li > p {
  border-bottom: solid #b4b4b4;
  background-color: #126893;
  padding: 2px;
  border-radius: 5px;
  color: white;
}

.sidebar-nav > li > strong {
  background-color: #cccccc;
}

.markdown-section {
  max-width: 840px;
}

.markdown-section a:hover {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}

.sidebar-nav > ul > li > a {
  list-style-type: none;
}

.sidebar-nav > ul {
  background-color: white;
  padding: 1em;
  margin: 0px 10px 0px 0px;
}

.sidebar-nav > ul > li.active > a {
  color: black;
  font-size: 3rem;
}

.sidebar-nav > ul:nth-child(1) > li > a.section-link,
.sidebar-nav > ul:nth-child(1) > li > ul.children > li > a.section-link {
  display: block;
}

#main > h1:nth-child(1) {
  display: none;
}

#main > h1:nth-child(1)[id] {
  display: block;
}

.sidebar ul li a {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar ul li strong a {
  font-weight: 700;
}

.sidebar ul li ul.app-sub-sidebar li a {
  font-weight: 400;
}

.sidebar ul li ul.app-sub-sidebar li a.active {
  font-weight: 700;
}

body .docsify-copy-code-button {
  background: none !important;
  line-height: 1.5rem;
  position: absolute;
  word-wrap: normal;
  color: #ccc;
  font-size: .7rem;
  font-weight: 700;
  left: 0;
  height: 25px;
  top: -4px;
  text-align: center;
}

body .docsify-copy-code-button.success {
  color: #11A31B;
}

.app-name-link img {
  height: 150px;
  width: 150px;
}

table > tbody > tr > td::before {
  display: none;
}

.btn-edit-on-github {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  border: none;
  border-radius: 3px;
  background-color: var(--theme-color);
  position: absolute;
  top: var(--sidebar-toggle-offset-top);
  right: 0;
  margin-right: 45px;
  padding: 6px 10px 6px 5px;
  height: var(--sidebar-toggle-height);
}

.btn-edit-on-github a,
.btn-edit-on-github svg {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: white;
}

.btn-edit-on-github a {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  top: -1px;
  padding-left: 5px;
}

.btn-edit-on-github:hover {
  cursor: pointer;
  background-color: var(--mono-tint2);
}

.btn-edit-on-github:hover svg,
.btn-edit-on-github:hover a {
  text-decoration: none;
  color: white;
}

.lesson-plan {
  color: #f57b09;
  background-color: seashell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=main.css.map */